nav {
  background-color: #000000;
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

button {
  position: relative;
  margin: 0;
  padding: 0.8em 1em;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  background-color: #333;
  border-radius: 10px;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

button span {
  display: inline-block;
  transition: transform 0.3s ease;
  transform: scale(1);
}

button:hover span,
button.active span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
  transform: scale(1.1);
}

button:not(:hover):not(.active) span {
  transform: scale(1);
}

/* Optional wiggle animation */
@keyframes sh0 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(-1deg);
  }
  75% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

button:hover {
  animation: sh0 0.5s ease-in-out both;
}

button.active {
  animation: sh0 0.5s ease-in-out both;
}

/* Glow circles */
button::before,
button::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #929292;
  opacity: 0;
  z-index: -1;
  transition: transform 0.2s ease, opacity 0.2s ease;
  transform: translate(100%, -25%);
}

button:hover::before,
button:hover::after,
button.active::before,
button.active::after {
  opacity: 0.15;
  transform: translate(50%, 0) scale(1.1);
}
